{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
        <h2 style="margin-top: 20px; margin-left:20px!important; color: white">Hello, Stranger</h2>
    {% else %}
        <h2 style="margin-top: 20px; text-align: center; color: white">Hello, {{ user.username }}</h2>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-4 g-4"
         style="margin-top: 10px; margin-left:15px!important; margin-right: 15px!important;">
        {% for interest in interests %}
            {% if user.id == interest.user_id %}
                <div class="col" style="margin-top: 10px; display: flex; justify-content: space-around;">
                    <div class="card"
                         style="margin-left: 10px; background-color: rgb(0,0,0,0.2); color: white; width: fit-content;">
                        <div class="card-header" style="background-color: rgb(0,0,0,0.22)">
                            <h6>{{ interest.theme }}</h6>
                        </div>
                        <div class="card-body">
                            <h5>{{ interest.description }}</h5>
                        </div>
                        <div class="card-footer" style="background-color: rgb(0,0,0,0.22)">
                            <h6>{{ interest.username }}</h6>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if current_user.is_anonymous %}
            <div class="card"
                 style="color: white; border: #597E45FF; border-style: solid; background-color: rgb(0,0,0,0.2)">
                <div class="card-body">
                    <h4 style="vertical-align: middle; text-align: center">To add your "Interests" you should log in first!</h4>
                </div>
            </div>
        {% else %}
            <a class="btn btn-outline mt-1 mb-0" type="button" href="{{ url_for('interests') }}"
               style="border-color: #597e45; width: 288px; height: 122px; margin-left:20px!important; margin-top: 10px!important;">
                <img src="static/img/plus.png" class="rounded-circle img-fluid"
                     style="background-color: rgb(0,0,0,0.2); width: 50px; object-fit: inherit; height: 50px; margin-top: 30px; text-align: center">
            </a>
        {% endif %}
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
{% endblock %}