{% extends "base.html" %}

{% block content %}
    <section style="margin-left: 50px; margin-top: 50px">
        <div class="row">
            <div class="col-lg-4" style="width: 350px;">
                <div class="card mb-4" style="width: 18rem; background-color: rgb(0,0,0,0.22); color: white">
                    <div class="card-body text-center">
                        <img src={{ user.avatar }} alt="avatar"
                             class="rounded-circle img-fluid" style="width: 120px; object-fit: cover; height: 120px">
                        <h5 class="my-3">{{ user.username }}</h5>
                        <p class="text-muted mb-1" style="color: white!important">{{ user.email }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{{ url_for('settings') }}" class="btn btn-outline mt-1 mb-0" type="button"
                               style="background-color: #8DC26F">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4"
                     style="width: 600px; margin-left: 10px; background-color: rgb(0,0,0,0.22); color: white">
                    <div class="card-body" style="width: 600px; background-color: rgb(0,0,0,0); color: white">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Username:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" style="color: white!important">{{ user.username }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" style="color: white!important">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Registration date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"
                                   style="color: white!important">{{ user.registration_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
{% endblock %}