<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <nav class="navbar bg-body-tertiary" style="background-color: rgb(0,0,0,0.22)!important">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white!important">{{ name }} in Wonderland</a>
        </div>
    </nav>
    <title>Title</title>
</head>
<body>
<div style="margin-left: 10px">
    <p>{{ name }} was beginning to get very tired of sitting by {{ pronoun }} sister on the bank, and of having nothing
        to do: once or twice {{ perspronoun }} had peeped into the book {{ pronoun }} sister was reading, but it had no
        pictures or conversations in it, &ldquo;and what is the use of a book,&rdquo; thought {{ name }} &ldquo;without
        pictures or conversations?&rdquo;<br></p>
    <p>So {{ perspronoun }} was considering in {{ pronoun }} own mind (as well as {{ perspronoun }} could, for the hot
        day made {{ pronoun }} feel very sleepy and stupid), whether the pleasure of making a daisy-chain would be worth
        the trouble of getting up and picking the daisies, when suddenly a White Rabbit with pink eyes ran close
        by {{ pronoun }}.<br></p>
    <p>There was nothing so&nbsp;<em>very</em>&nbsp;remarkable in that; nor did {{ name }} think it
        so&nbsp;<em>very</em>&nbsp;much out of the way to hear the Rabbit say to itself, &ldquo;Oh dear! Oh dear! I
        shall be late!&rdquo; (when {{ perspronoun }} thought it over afterwards, it occurred to {{ pronoun }}
        that {{ perspronoun }} ought to have wondered at this, but at the time it all seemed quite natural); but when
        the Rabbit actually&nbsp;<em>took a watch out of its waistcoat-pocket</em>, and looked at it, and then hurried
        on, {{ name }} started to {{ pronoun }} feet, for it flashed across {{ pronoun }} mind that {{ perspronoun }}
        had never before seen a rabbit with either a waistcoat-pocket, or a watch to take out of it, and burning with
        curiosity, {{ perspronoun }} ran across the field after it, and fortunately was just in time to see it pop down
        a large rabbit-hole under the hedge.<br></p>
    <img src="static/img/alice.jpg" style="width: 332px; height: 500px; opacity: 0.9">
</div>
<ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>